# Compiled Python files
*.py[cod]

# Backup files
*~
*.bak

# C extensions
*.so

# generated directories
dist
build
/docs
docs_sphinx/reference

# Unit test / coverage reports
.coverage
nosetests.xml

# Eclipse project files and settings
.project
.cproject
.pydevproject
/.settings

# pycharm project files
.idea

# egg-info files
/*.egg-info

# IPython
.ipynb_checkpoints

# ignore compiled files in dev folder
/dev/**/*.o
/dev/**/main

# ignore benchmarks folder
/dev/benchmarks

# ignore tags files
tags
