[submodule "genn_frozen"]
	path = frozen_repos/genn
	url = https://github.com/genn-team/genn.git
[submodule "brian2genn_frozen"]
	path = frozen_repos/brian2genn
	url = https://github.com/brian-team/brian2genn.git
[submodule "frozen_repos/brian2"]
	path = frozen_repos/brian2
	url = https://github.com/brian-team/brian2.git
