# Compiled Python files
*.py[cod]

# Compiled object files
*.o

# Backup files
*~
*.bak

# C extensions
*.so

# generated directories
dist
build
/docs
docs_sphinx/reference

# Unit test / coverage reports
.coverage
nosetests.xml

# Eclipse project files and settings
.project
.cproject
.pydevproject
/.settings

# pycharm project files
.idea

# egg-info files
/*.egg-info

# IPython
.ipynb_checkpoints

# ignore compiled files in dev folder
/dev/**/*.o
/dev/**/main

# ignore directories in example folder (generated code)
# TODO: we have now compartmental example folder not only code as subfolders
#/examples/*/*

# ignore project directories
cuda_standalone/
cpp_standalone/
GeNNworkspace/

# ignore tags files
tags

# git worktrees are placed here
worktrees/
