# Versioneer files
include brian2cuda/_version.py

# Documentation
include README.md
include CITATION.cff
include docs_sphinx/conf.py
include docs_sphinx/make.bat
include docs_sphinx/Makefile
recursive-include docs_sphinx *.rst
prune docs_sphinx/reference  # will be generated automatically
prune dev
prune brian2cuda/tools
